.newscard_container {
    position: relative;
    padding: 0 5%;
    /* margin: 0 5%; */
    /* left: 5%; */
    width: 100%;
}
.header_news--left{
}
.header_news--left h2 {
    color: #333333;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 32px;
    word-wrap: break-word;
}

.header_news--left p {
    color: #5A637A;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.news_search {
    display: flex;
    align-items: center;
}

.news_search--input {
    border: solid 1px #BDC5D4;
    border-radius: 6px;
    padding: 5px 5px;
}

.news_search--input input {
    width: 93%;
    border: none;
    color: #9DA8BE;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    margin-left: 2%;
}

.news_search--input i {
    color: #9DA8BE;
}

.news_search--dropdown select {
    border: none;
    margin-left: 15px;
    color: #333333;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word
}

.news_titletag {
    display: flex;
    gap: 2%;
    margin-top: 1.1% !important;
    margin-bottom: 3.5%;

}

.news_titletag--name {
    color: #8F98AA;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    padding: 5px 5px;
    border: solid 1px #8F98AA;
    border-radius: 15px;
}

.newscard {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 3%;
    margin-bottom: 3%;
}

.news_card--last{
    justify-content: space-between;
    margin-bottom: 5%;
}

.newscard_img {
    border-radius:5% !important;
    max-width: 505px !important;
    object-fit: cover;
}

.title_and_tag {
    /* margin-left: 2%; */
    display: flex;
    flex-direction: column;
    gap: 10px ;
}

.newscard_spotlight {
    width: max-content;
    padding: 4px 10px;
    color: #333333;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
    border: 1px #333D58 solid; 
}

.newscard_header {
    color: #333333;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 50px;
    word-wrap: break-word
}

.newscard_decoration {
    color: #5A637A;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    margin-bottom: 3%;
}

.newscard_time {
    color: #414A63;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word
}

/*  */

.news_content{
    margin-bottom: 5%;
}
.news_card {
    height: auto;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 10%; */

}

.news_list{
    /* margin: 0 !important; */
    padding: 0;
}

.news_card .card_img img {
    width: 100%;
    height: 237px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 5%;
}

.news_card .title_and_tag {
    width: 85%;
    display: flex;
    flex-direction: column;
}

.film-card .title_and_tag{
    width: 85%;
}

.news_card .card_spotlight {
    width: max-content;
    padding: 8px 12px;
    color: #333333;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
    border: 1px #333D58 solid;
}

.news_card .card_header ,
.film-card .film_header{
    color: #333333;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 32px;
    word-wrap: break-word;
}

.news_card .card_time {
    color: #5A637A;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    margin-top: 4px;
}